* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(
    circle at center right,
    rgba(48, 48, 148, 1) 0%,
    rgba(224, 89, 131, 1) 15%,
    rgba(0, 0, 0, 1) 45%
  );
  scroll-behavior: smooth;
  /* Create the parallax scrolling effect */
  color-scheme: dark;
}

.nav-bar {
  position: absolute;
  width: 100vw;
  padding: max(8vw, 4rem) max(10vw, 4rem);
  z-index: 4;
}

.nav-bar-list {
  list-style: none;
  border-color: #3398db;
  border-width: 2rem;
  border-radius: 0.5rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-family: Product Sans;
  text-decoration: none;
  font-size: max(2vw, 1.1rem);

  background: linear-gradient(156deg, #a463bf, #3398db);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.card {
  position: relative;
  padding: max(10vw, 4rem);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.title {
  font-family: Product Sans;
  background: linear-gradient(156deg, #a463bf, #3398db);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title.name {
  font-size: max(4.8vw, 2.8rem);
}

.title.profession {
  font-size: max(3.8vw, 1.8rem);
  font-style: italic;
}

.link-icon {
  width: max(4vw, 32px);
}

.title.about {
  font-size: 3rem;
}

.title.projects {
  font-size: 3rem;
}

.about-card .about-paragraph {
  margin-top: 2rem;
  background-color: #191a1c;
  font-family: Product Sans;
  font-size: 1.8rem;
  color: white;
  width: max(50vw, 300px);
  padding: 2rem;
  border-radius: 0.5rem;
}

.projects-card {
  gap: 2rem;
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-y: scroll;
  width: 100%;
}

.project-card {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.03rsSXtPfUevHrjIwlcx-QHaJ4%26pid%3DApi&f=1&ipt=6d74a9950da722c066795f5a4fa3de2010681b2abbcb07e5736ca4b9595c6d61&ipo=images);
  background-size: 40%;
  font-family: Product Sans;
  font-size: 1.8rem;
  color: white;
  width: max(40vw, 300px);
  height: 20rem;
  border-radius: 0.5rem;
}

.darken-card {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 80%
  );
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  cursor: pointer;
}

.project-title {
  color: green;
  font-size: 2rem;
}

.title.experience {
  font-size: 3rem;
}

.experience-list {
  list-style: none;
  padding-top: 4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.experience-paragraph {
  background-color: #191a1c;
  font-family: Product Sans;
  font-size: 1.4rem;
  color: white;
  width: max(40vw, 300px);
  padding: 1rem;
  border-radius: 0.5rem;
}
a {
  cursor: pointer;
}
